*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clock {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 20px solid #2694b0;
    border-radius: 50%;
     left: 50%; 
    top: 50%; 
    background: #fefbf2;
    transform: translate(-50%, -50%);
     box-shadow: inset 0px 0px 12px black; 
}

.clock::before {
    position: absolute;
     content: ''; 
     height: 120px;
    width: 3px;
     background: black;
     top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 6s linear infinite;
    transform-origin: top;

}

.clock::after {
    position: absolute;
    content: '';
    height: 80px;
    width: 7px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 10px;
    animation: spin 72s linear infinite;
    transform-origin: top; 
    
}

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
} 

body::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #df454c; 
     left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

} 
body::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    border-radius: 100%;
    background: black; 
    left: 50%;
    top: calc(50% - 145px);
    z-index: 2;
    transform: translateX(-50%);
    box-shadow: 140px 145px 0 0 black, -140px 145px 0 0 black, 0 280px 0 0 black;
} 
