*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent{
    width: 500px;
    height: 500px;
    border: solid 1px;
    position: relative;
}

.item{
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: anim1 4s  linear  infinite;
}

@keyframes anim1{
    0%{
        top: 0px;
        left: 0px;
    }

    25%{
        top: 400px;
        left: 0px;
    }

    50%{
        top: 400px;
        left: 400px;
    }
    75%{
        top: 0px;
        left: 400px;
    }
    100%{
        left: 0px;
        top: 0px;        
    }
} */

.text::first-letter{
    font-size: 90px;
   color: red;
}
.text::first-line{
    color: rgb(69, 179, 124);    
}
*::selection{
    background-color: black;
    color: white;
    }
    button{
display: block;
margin: 20px auto;
outline: none;
padding: 10px 20px;
border-radius: 5px;
border: solid2px black;
color: black;
background-color: white;
box-shadow: 0px 0px 12px black;
inset: 0px 0px 8px black;
transition: 0.5s all;
  }
  button:active{
    box-shadow: 0px 0px 8px black;
inset: 0px 0px 6px black;
transition: translateY(6px);
  }
button:hover{
    border: solid 2px white;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.item{ 
    position: relative; 
    width: 400px; 
    height: 300px; 
    background-color: gold; 
    background-image: url(https://cdn.motor1.com/images/mgl/P33NqL/s1/2022-bmw-m3-touring.webp); 
    background-size: cover; 
    background-position: center; 
} 
.item::before{ 
    content:" ЭТО BMW!"; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 40px; 
    width:100%; 
    height: 100%; 
    background-color: #0005; 
    opacity: 0; 
    transition: .5s all; 
} 
.item:hover::before{ 
    opacity: 1; 
} 
.item::after{ 
    content:""; 
    display: block; 
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 50px; 
    transform: skew(-20deg) translateX(-400px); 
    background-color:#ffffff3e; 
    transition: .4s all; 
} 
.item:hover::after{ 
    transform: skew(-20deg) translateX(600px); 
}

