*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/aa1e7eedeb5d584cbea03200/yttyyy-min.jpg");
    background-position: center;
    background-size: cover;
} 
.parent{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item{
    width: 200px;
    height: 450px;
    backdrop-filter: blur(30px);
    background-color: white;
}
.item img{
    width: 40%;
    height: 15%;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 30px;
}
.item h1{
    font-size: 22px;
    position: relative;
    top: 65px;
    left: 10px;
}
.item p{
    font-size: 18px;
    position: relative;
    top: 85px;
    left: 20px;
}
.item a{
    padding: 13px 30px;
    position: relative;
    top: 120px;
    left: 30px;
    background-color: rgb(236, 39, 236);
    color: white;
    text-decoration: none;
}
.item a:hover{
    background-color: rgb(209, 236, 51);
    color: #000;
}

.p1{
    font-size: 20px;
    position: relative;
    right: 600px;
    top: 300px;
}
.a1{
    font-size: 15px;
    position: relative;
    right: 600px;
    top: 300px;
    color: #000;
}
.a1:hover{
    text-decoration: none;
}